<h4>Please tell us how we can help you</h4>
<form action="">
  <div class="form-group">
    <label for="firstName">FirstName</label>
    <input id="firstName" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control">
    </div>     
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea name="" id="comment" cols="30" rows="5" class="form-control"></textarea>
  </div>
  <button class="btn btn-secondary">
    Submit
  </button>
</form>